In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline 
sns.set(rc={'figure.figsize': [15, 8]}, font_scale=1.2) # Standard figure size for all

In [2]:
df = pd.read_csv(r"C:\Users\karee\Downloads\fifa_eda_stats.csv")

In [4]:
df.shape #Return value
#The DataFrame.shape returns a tuple of array dimensions representing the shape of a given DataFrame.

(17966, 56)

In [5]:
df.drop_duplicates()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,Left,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,Right,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,Right,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,193080,De Gea,27,Spain,91,93,Manchester United,€72M,€260K,Right,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,€355K,Right,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,J. Lundstram,19,England,47,65,Crewe Alexandra,€60K,€1K,Right,...,45.0,40.0,48.0,47.0,10.0,13.0,7.0,8.0,9.0,€143K
18203,243165,N. Christoffersson,19,Sweden,47,63,Trelleborgs FF,€60K,€1K,Right,...,42.0,22.0,15.0,19.0,10.0,9.0,9.0,5.0,12.0,€113K
18204,241638,B. Worman,16,England,47,67,Cambridge United,€60K,€1K,Right,...,41.0,32.0,13.0,11.0,6.0,5.0,10.0,6.0,13.0,€165K
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,€60K,€1K,Right,...,46.0,20.0,25.0,27.0,14.0,6.0,14.0,8.0,9.0,€143K
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,€60K,€1K,Right,...,43.0,40.0,43.0,50.0,10.0,15.0,9.0,12.0,9.0,€165K

In [6]:
df.sample(10)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
9590,168629,I. Khalili,31,Palestine,66,66,Hammarby IF,€575K,€2K,Left,...,65.0,49.0,42.0,41.0,7.0,14.0,8.0,14.0,14.0,€719K
17683,243386,D. Valencia,18,Chile,53,74,Universidad Católica,€140K,€1K,Right,...,49.0,31.0,16.0,15.0,13.0,5.0,11.0,13.0,6.0,€336K
2817,142942,J. Gandolfi,37,Argentina,73,73,Club Atlético Talleres,€550K,€9K,Right,...,70.0,69.0,74.0,72.0,12.0,15.0,12.0,16.0,13.0,€825K
9992,231951,R. Williams,21,England,65,74,Wycombe Wanderers,€850K,€10K,Right,...,49.0,28.0,30.0,27.0,11.0,13.0,11.0,10.0,11.0,NaN
2262,192349,Renatinho,29,Brazil,74,74,Guangzhou R&F; FC,€5.5M,€16K,Left,...,68.0,24.0,55.0,26.0,9.0,6.0,10.0,7.0,8.0,€11.8M
14162,241485,Chen Binbin,20,China PR,61,74,Shanghai SIPG FC,€475K,€2K,Right,...,50.0,30.0,14.0,11.0,10.0,7.0,14.0,9.0,8.0,€1.3M
8128,177772,B. Djiby Fall,33,Senegal,67,67,Hobro IK,€475K,€4K,Right,...,69.0,34.0,35.0,22.0,7.0,7.0,11.0,6.0,12.0,€594K
7419,237257,J. Yueill,21,United States,68,76,San Jose Earthquakes,€1.3M,€3K,Right,...,76.0,66.0,45.0,46.0,11.0,13.0,14.0,8.0,11.0,€2.2M
11745,206520,Kim Won Sik,26,Korea Republic,64,66,FC Seoul,€450K,€2K,Right,...,55.0,59.0,64.0,63.0,11.0,9.0,6.0,10.0,16.0,€596K
16829,244860,L. Gelzleichter,18,Germany,56,74,SV Darmstadt 98,€190K,€2K,Right,...,45.0,21.0,19.0,12.0,12.0,10.0,6.0,6.0,6.0,€423K

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17966 entries, 0 to 18206
Data columns (total 56 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        17966 non-null  int64
 1   Name                      17966 non-null  object
 2   Age                       17966 non-null  int64
 3   Nationality               17966 non-null  object
 4   Overall                   17966 non-null  int64
 5   Potential                 17966 non-null  int64
 6   Club                      17966 non-null  object
 7   Value                     17966 non-null  object
 8   Wage                      17966 non-null  object
 9   Preferred Foot            17918 non-null  object
 10  International Reputation  17918 non-null  float64
 11  Weak Foot                 17918 non-null  float64
 12  Skill Moves               17918 non-null  float64
 13  Work Rate                 17918 non-null  object
 14  Body Type                 17918 non-null  object
 15  Position                  17918 non-null  object
 16  Jersey Number             17918 non-null  float64
 17  Joined                    16654 non-null  object
 18  Contract Valid Until      17918 non-null  object
 19  Height                    17918 non-null  object
 20  Weight                    17918 non-null  object
 21  Crossing                  17918 non-null  float64
 22  Finishing                 17918 non-null  float64
 23  HeadingAccuracy           17918 non-null  float64
 24  ShortPassing              17918 non-null  float64
 25  Volleys                   17918 non-null  float64
 26  Dribbling                 17918 non-null  float64
 27  Curve                     17918 non-null  float64
 28  FKAccuracy                17918 non-null  float64
 29  LongPassing               17918 non-null  float64
 30  BallControl               17918 non-null  float64
 31  Acceleration              17918 non-null  float64
 32  SprintSpeed               17918 non-null  float64
 33  Agility                   17918 non-null  float64
 34  Reactions                 17918 non-null  float64
 35  Balance                   17918 non-null  float64
 36  ShotPower                 17918 non-null  float64
 37  Jumping                   17918 non-null  float64
 38  Stamina                   17918 non-null  float64
 39  Strength                  17918 non-null  float64
 40  LongShots                 17918 non-null  float64
 41  Aggression                17918 non-null  float64
 42  Interceptions             17918 non-null  float64
 43  Positioning               17918 non-null  float64
 44  Vision                    17918 non-null  float64
 45  Penalties                 17918 non-null  float64
 46  Composure                 17918 non-null  float64
 47  Marking                   17918 non-null  float64
 48  StandingTackle            17918 non-null  float64
 49  SlidingTackle             17918 non-null  float64
 50  GKDiving                  17918 non-null  float64
 51  GKHandling                17918 non-null  float64
 52  GKKicking                 17918 non-null  float64
 53  GKPositioning             17918 non-null  float64
 54  GKReflexes                17918 non-null  float64
 55  Release Clause            16643 non-null  object
dtypes: float64(38), int64(4), object(14)
memory usage: 7.8+ MB

In [8]:
df.describe()

,ID,Age,Overall,Potential,International Reputation,Weak Foot,Skill Moves,Jersey Number,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,17966.000000,17966.000000,17966.000000,17966.000000,17918.000000,17918.000000,17918.000000,17918.000000,17918.000000,17918.000000,...,17918.000000,17918.000000,17918.000000,17918.000000,17918.000000,17918.000000,17918.000000,17918.000000,17918.000000,17918.00000
mean,214244.857230,25.104976,66.225481,71.317322,1.113908,2.947260,2.362875,19.643041,49.748856,45.581147,...,48.544480,58.655263,47.264092,47.684005,45.643208,16.590356,16.367675,16.205659,16.360308,16.68367
std,30039.126767,4.674724,6.923435,6.146192,0.395495,0.660106,0.756309,16.008322,18.354989,19.512533,...,15.691563,11.420965,19.874746,21.647674,21.270735,17.661697,16.877771,16.468529,16.992206,17.91613
min,16.000000,16.000000,46.000000,48.000000,1.000000,1.000000,1.000000,1.000000,5.000000,2.000000,...,5.000000,3.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.00000
25%,200255.250000,21.000000,62.000000,67.000000,1.000000,3.000000,2.000000,8.000000,38.000000,30.000000,...,39.000000,51.000000,30.000000,27.000000,24.000000,8.000000,8.000000,8.000000,8.000000,8.00000
50%,221710.500000,25.000000,66.000000,71.000000,1.000000,3.000000,2.000000,17.000000,54.000000,49.000000,...,49.000000,60.000000,53.000000,55.000000,52.000000,11.000000,11.000000,11.000000,11.000000,11.00000
75%,236529.750000,28.000000,71.000000,75.000000,1.000000,3.000000,3.000000,26.000000,64.000000,62.000000,...,60.000000,67.000000,64.000000,66.000000,64.000000,14.000000,14.000000,14.000000,14.000000,14.00000
max,246620.000000,45.000000,94.000000,95.000000,5.000000,5.000000,5.000000,99.000000,93.000000,95.000000,...,92.000000,96.000000,94.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.00000

In [3]:
df.isna().sum()

ID                              0
Name                            0
Age                             0
Nationality                     0
Overall                         0
Potential                       0
Club                          241
Value                           0
Wage                            0
Preferred Foot                 48
International Reputation       48
Weak Foot                      48
Skill Moves                    48
Work Rate                      48
Body Type                      48
Position                       60
Jersey Number                  60
Joined                       1553
Loaned From                 16943
Contract Valid Until          289
Height                         48
Weight                         48
Crossing                       48
Finishing                      48
HeadingAccuracy                48
ShortPassing                   48
Volleys                        48
Dribbling                      48
Curve                          48
FKAccuracy                     48
LongPassing                    48
BallControl                    48
Acceleration                   48
SprintSpeed                    48
Agility                        48
Reactions                      48
Balance                        48
ShotPower                      48
Jumping                        48
Stamina                        48
Strength                       48
LongShots                      48
Aggression                     48
Interceptions                  48
Positioning                    48
Vision                         48
Penalties                      48
Composure                      48
Marking                        48
StandingTackle                 48
SlidingTackle                  48
GKDiving                       48
GKHandling                     48
GKKicking                      48
GKPositioning                  48
GKReflexes                     48
Release Clause               1564
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 57 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        18207 non-null  int64
 1   Name                      18207 non-null  object
 2   Age                       18207 non-null  int64
 3   Nationality               18207 non-null  object
 4   Overall                   18207 non-null  int64
 5   Potential                 18207 non-null  int64
 6   Club                      17966 non-null  object
 7   Value                     18207 non-null  object
 8   Wage                      18207 non-null  object
 9   Preferred Foot            18159 non-null  object
 10  International Reputation  18159 non-null  float64
 11  Weak Foot                 18159 non-null  float64
 12  Skill Moves               18159 non-null  float64
 13  Work Rate                 18159 non-null  object
 14  Body Type                 18159 non-null  object
 15  Position                  18147 non-null  object
 16  Jersey Number             18147 non-null  float64
 17  Joined                    16654 non-null  object
 18  Loaned From               1264 non-null   object
 19  Contract Valid Until      17918 non-null  object
 20  Height                    18159 non-null  object
 21  Weight                    18159 non-null  object
 22  Crossing                  18159 non-null  float64
 23  Finishing                 18159 non-null  float64
 24  HeadingAccuracy           18159 non-null  float64
 25  ShortPassing              18159 non-null  float64
 26  Volleys                   18159 non-null  float64
 27  Dribbling                 18159 non-null  float64
 28  Curve                     18159 non-null  float64
 29  FKAccuracy                18159 non-null  float64
 30  LongPassing               18159 non-null  float64
 31  BallControl               18159 non-null  float64
 32  Acceleration              18159 non-null  float64
 33  SprintSpeed               18159 non-null  float64
 34  Agility                   18159 non-null  float64
 35  Reactions                 18159 non-null  float64
 36  Balance                   18159 non-null  float64
 37  ShotPower                 18159 non-null  float64
 38  Jumping                   18159 non-null  float64
 39  Stamina                   18159 non-null  float64
 40  Strength                  18159 non-null  float64
 41  LongShots                 18159 non-null  float64
 42  Aggression                18159 non-null  float64
 43  Interceptions             18159 non-null  float64
 44  Positioning               18159 non-null  float64
 45  Vision                    18159 non-null  float64
 46  Penalties                 18159 non-null  float64
 47  Composure                 18159 non-null  float64
 48  Marking                   18159 non-null  float64
 49  StandingTackle            18159 non-null  float64
 50  SlidingTackle             18159 non-null  float64
 51  GKDiving                  18159 non-null  float64
 52  GKHandling                18159 non-null  float64
 53  GKKicking                 18159 non-null  float64
 54  GKPositioning             18159 non-null  float64
 55  GKReflexes                18159 non-null  float64
 56  Release Clause            16643 non-null  object
dtypes: float64(38), int64(4), object(15)
memory usage: 7.9+ MB

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18207 entries, 0 to 18206
Data columns (total 57 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        18207 non-null  int64
 1   Name                      18207 non-null  object
 2   Age                       18207 non-null  int64
 3   Nationality               18207 non-null  object
 4   Overall                   18207 non-null  int64
 5   Potential                 18207 non-null  int64
 6   Club                      18207 non-null  object
 7   Value                     18207 non-null  object
 8   Wage                      18207 non-null  object
 9   Preferred Foot            18207 non-null  object
 10  International Reputation  18207 non-null  float64
 11  Weak Foot                 18207 non-null  float64
 12  Skill Moves               18207 non-null  float64
 13  Work Rate                 18207 non-null  object
 14  Body Type                 18207 non-null  object
 15  Position                  18207 non-null  object
 16  Jersey Number             18207 non-null  float64
 17  Joined                    18207 non-null  object
 18  Loaned From               18207 non-null  object
 19  Contract Valid Until      18207 non-null  object
 20  Height                    18207 non-null  object
 21  Weight                    18207 non-null  object
 22  Crossing                  18207 non-null  float64
 23  Finishing                 18207 non-null  float64
 24  HeadingAccuracy           18207 non-null  float64
 25  ShortPassing              18207 non-null  float64
 26  Volleys                   18207 non-null  float64
 27  Dribbling                 18207 non-null  float64
 28  Curve                     18207 non-null  float64
 29  FKAccuracy                18207 non-null  float64
 30  LongPassing               18207 non-null  float64
 31  BallControl               18207 non-null  float64
 32  Acceleration              18207 non-null  float64
 33  SprintSpeed               18207 non-null  float64
 34  Agility                   18207 non-null  float64
 35  Reactions                 18207 non-null  float64
 36  Balance                   18207 non-null  float64
 37  ShotPower                 18207 non-null  float64
 38  Jumping                   18207 non-null  float64
 39  Stamina                   18207 non-null  float64
 40  Strength                  18207 non-null  float64
 41  LongShots                 18207 non-null  float64
 42  Aggression                18207 non-null  float64
 43  Interceptions             18207 non-null  float64
 44  Positioning               18207 non-null  float64
 45  Vision                    18207 non-null  float64
 46  Penalties                 18207 non-null  float64
 47  Composure                 18207 non-null  float64
 48  Marking                   18207 non-null  float64
 49  StandingTackle            18207 non-null  float64
 50  SlidingTackle             18207 non-null  float64
 51  GKDiving                  18207 non-null  float64
 52  GKHandling                18207 non-null  float64
 53  GKKicking                 18207 non-null  float64
 54  GKPositioning             18207 non-null  float64
 55  GKReflexes                18207 non-null  float64
 56  Release Clause            18207 non-null  object
dtypes: float64(38), int64(4), object(15)
memory usage: 7.9+ MB